
@{
    ViewBag.Title = "500 Internal Server";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <div class="error-page-type">
        <h1>Oops!</h1>
        <h2>500 - İÇ SUNUCU HATASI</h2>
    </div>
    <a href="/">GERİ DÖN</a>
</div>
