
@{
    ViewBag.Title = "404 Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <div class="error-page-type">
        <h1>Oops!</h1>
        <h2>404 - BU SAYFA KALDIRILMIŞ!</h2>
    </div>
    <a href="/">GERİ DÖN</a>
</div>

